#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
  }
  
  .read-the-docs {
    color: #888;
  }
  
  .column.is-one-quarter {
    margin-bottom: 20px; /* Add margin to separate the columns */
  }
  
  .card.is-fullheight {
    height: 100%;
  }
  